Flask==2.2.3                 # Flask web framework
Flask-CORS==3.0.10           # Handle CORS for frontend-backend communication
pymongo[srv]==4.3.3          # MongoDB driver for Python
opencv-python==4.8.0.74      # OpenCV for image processing
numpy==1.23.5                # Required for DeepFace
deepface==0.0.79             # Face recognition library
tensorflow==2.10.0           # Required for DeepFace
tensorflow-intel==2.10.0      # Performance-optimized TensorFlow
firebase-admin==6.0.0        # Firebase SDK for backend storage handling
requests==2.31.0             # Handle HTTP requests in Python
reportlab==4.0.4            # 🆕 For generating PDF cards